@use "variables" as v;
@use "functions" as f;
@use "breakpoints" as b;

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: f.rem(68);
  padding: 0 f.rem(24);
  @include b.breakpoint(xlarge) {
    height: f.rem(112);
    border-bottom: 1px solid v.$Grayish-blue;
  }

  &__navigation {
    width: f.rem(175);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include b.breakpoint(xlarge) {
      width: f.rem(590);
    }
  }

  &__menu {
    &:hover {
      cursor: pointer;
    }
    @include b.breakpoint(xlarge) {
      display: none;
    }
  }

  &__cart-avatar {
    width: f.rem(70);
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include b.breakpoint(xlarge) {
      width: f.rem(125);
    }
  }

  &__cart {
    position: relative;
    &--notification {
      width: f.rem(15);
      height: f.rem(12);
      border-radius: 16px;
      position: absolute;
      background-color: v.$Orange;
      top: -2px;
      right: -5px;
      font-size: 0.6rem;
      text-align: center;
      color: v.$White;
      display: none;
    }
    &:hover {
      cursor: pointer;
    }
  }

  &__avatar {
    width: f.rem(24);
    outline: 2px solid transparent;
    transition: outline-color 0.2s ease-in-out;
    border-radius: 50%;
    cursor: pointer;
    @include b.breakpoint(xlarge) {
      width: f.rem(40);
    }
    &:hover {
      outline-color: v.$Orange;
    }
  }
}
