@use "variables";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: variables.$font;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}
