@use "variables" as v;
@use "mixins" as m;
@use "functions" as f;

.modal-navbar {
  &__backgruound {
    display: none;
    @include m.modal-background(v.$Black-modal);
  }
  background-color: v.$White;
  width: f.rem(250);
  height: 100%;
  padding: f.rem(20) f.rem(24);
  &__items {
    margin-top: f.rem(50);
    display: flex;
    flex-direction: column;
    height: f.rem(200);
    justify-content: space-between;
    list-style: none;
  }
  &__link {
    text-decoration: none;
    color: v.$Very-dark-blue;
    font-weight: 700;
    font-size: 1.1rem;
  }
  &__close-icon {
    cursor: pointer;
  }
}
