@use "variables" as v;
@use "functions" as f;
@use "breakpoints" as b;

.navbar {
  display: none;
  width: f.rem(400);
  height: 100%;
  align-content: center;
  justify-content: center;
  flex-wrap: wrap;
  &__items {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    list-style: none;
    & li {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      height: 100%;
      padding-top: f.rem(4);
      border-bottom: 4px solid transparent;

      &:hover {
        border-bottom-color: v.$Orange;
      }
    }
  }
  &__link {
    display: block;
    text-decoration: none;
    color: v.$Dark-grayish-blue;
    // height: 112px;
    // padding-top: 42px;

    &:hover {
      color: v.$Very-dark-blue;
    }
  }
  @include b.breakpoint(xlarge) {
    display: flex;
  }
}
