@use "initial";
@use "variables";
@use "header";
@use "navbar";
@use "modal-navbar";
@use "breakpoints" as b;
@use "functions" as f;

.main-container {
  width: f.rem(375);
  border: 1px solid black;
  margin: auto;
  @include b.breakpoint(xlarge) {
    width: f.rem(1115);
  }
}
